*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  height: 56px;
  padding: 0px 99px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.header .nav{
  display: flex;
  padding-top: 8px;
  justify-content: space-between;
  align-items: center;
  font-family: '?????';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.navbar{
  margin-left: 400px;
}

.nav .navbar a{
  color: rgba(0, 0, 0, 0.85);
  margin-left: 50px;
  transition: .5s ease;
}

.nav .navbar a:hover{
  color: #01BAB3;
}

.nav .nav-btn button{
  margin-left: 24px;
  padding: 2px 9px;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #D9D9D9;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: .5s ease;
}

.nav .nav-btn button a:hover{
  color: #fff;
}

.nav .nav-btn button:hover{
  background: #01BAB3;
}


.main{
  padding-top: 80px;
  height: 1040px;
  background: #F4F8FA;
}

.box{
  width: 496px;
  height: 849px;
  margin-left: 32.4%; 
  /* margin-left: 436px; */
  background: #FFFFFF;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04), 0px 4px 56px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.box-logo{
  padding: 40px 197px 0px;
}

.box-text h1{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 39px;
  padding: 24px 101px 0px;
}

.box-text p{
  font-family: '?????';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444150;
  padding: 24px 131px 0px;
}

.box-text p a{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #01BAB3;
}

.box-text a:hover{
  text-decoration: underline;
}

.form-box{
  display: flex;
  padding-top: 56px;
  margin-left: 40px;
}

.form-box p{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 123px;
  color: #444150;
}

span{
  color: #01BAB3;
}

.form-input{
  padding-top: 8px;
  margin-left: 24px;
}

.form-input input:focus, .form-box1 input:focus, .form-box3 input:focus,
.form-box4 input:focus{
  outline: none;
  background: #FBFBFB;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
}

.form-input input{
  width: 185px;
  height: 48px;
  margin-left: 16px;
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  font-size: 16px;
}

.form-input input::placeholder, .form-box3 input::placeholder,
.form-box4 input::placeholder{
  font-family: '?????';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  opacity: 0.5;
}

input[type='text'], input[type='date']{
  padding-left: 20px;
}

.kun{
  padding-top: 24px;
  margin-left: 40px;
}

.kun p{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  padding-bottom: 8px;
}

.kun input{
  width: 390px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding-right: 15px;
  cursor: pointer;
}

.jins{
  padding-top: 24px;
  margin-left: 40px;
}

.jins p, label{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 8px;
}

.gender_9{
  display: flex;
}

.gender{
  width: 180px;
  height: 48px;
  padding-top: 10px;
  padding-left: 16px;
  margin-right: 29px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
}

.skp p{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  margin-left: 40px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.skp input{
  margin-left: 40px;
  width: 390px;
  height: 48px;
  border-radius: 6px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}

.pm p{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #444150;
  margin-left: 40px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.pm input{
  margin-left: 40px;
  width: 390px;
  height: 48px;
  border-radius: 6px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}

.davom{
  padding-top: 24px;
}

.davom button{
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 18px;
  width: 390px;
  height: 48px;
  margin-left: 40px;
  background: #01BAB3;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: .5s ease;
}

.davom a{
  color: #fff;
}

.davom button:hover{
  background: #3a3a3a;
}

.endp{
  position: absolute;
  left: 526px;
  top: 993px;
  font-family: '?????';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}